html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: white;
}
header {
    width: 100%;
    text-align: center;
}
.logo {
    height: auto;
    width: 80%;
    max-width: 750px;
}
.heading {
    background-color: #d03027;
    padding: 15px;
}
.heading:first-of-type {
    border-top-left-radius: 20px;
}
.heading:last-of-type {
    border-top-right-radius: 20px;
}
.item {
    padding: 15px 20px;
    text-align: center;
}
.row:nth-of-type(odd) {
    background-color: #004977;
}
.row:nth-of-type(even) {
    background-color: #015a91;
}
#table-container {
    padding: 0 20px;
    margin-bottom: 40px;
}
.table {
    width: 100%;
    border-spacing: 0;
    color: white;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.table tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}
.table tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}
.leader {
    height: 150px;
    display: inline-block;
}
.leader-banner {
    display: inline-block;
    margin-left: -5px;
}
.leader-content {
    height: 150px;
    display: inline-block;
    background-color: #d03027;
    vertical-align: top;
    padding: 0 30px;
}
.leader-content h2 {
    font-size: 30px;
}
.leader-marquee {
    padding: 40px 0px 20px 0px;
}
.loss {
    color: #d03027;
}
.match-heading {
    background-color: #bb231b;
    padding: 5px;
}
.match-item {
    padding: 7px;
    text-align: center;
}
.name {
    padding: 20px 0px;
    text-align: center;
}
.ranking-item {
    text-align: center;
}
.win {
    color: lightgreen;
}
.chart-container {
    padding: 0 20px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 75px solid #d03027;
    display: inline-block;
    margin-left: -5px;
}
